.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 2px;
}

.node {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.h2 {
	font-size: 14pt;
}

#null-message {
	position: absolute;
	width: 500px;
	top: 0px;
	left: 0px;
	z-index: 1;
	text-align: justify;
	padding-top: 160px;
	padding-left: 30px;
}