html, body {
    margin:0;
    padding:0;
    font-family: "Lucida Grande", "Verdana";
    font-size: 0.9em;
    text-align: center;
    background-color:#FFFFFF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;  
  float: left;
  margin: 0;
  padding: 0;
  width: 11em;
  line-height: 2em;
  text-align: center;
}

li:hover {
  cursor: pointer;
  color: white;
  background: #78E78E;
}

li[state=active] {
  background-color: white;
  color: black;
}

div#nav {
  background-color: #04690B;
  color: #E6E6E6;
  width: 33em;
}



div#viz-body {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

div#intro {
    font-size: 16px;
    line-height: 20px;
}

div#null-message {
    position: absolute;
    width: 700px;
    top: 60px;
    left: 80px;
    z-index: 1;
    text-align: justify;
}
