html, body {
    margin:0;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    text-align: center;
    background-color:#FFFFFF;
}

div#viz-body {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

div#intro {
    font-size: 16px;
    line-height: 20px;
}

div#null-message {
    position: absolute;
    width: 700px;
    top: 60px;
    left: 80px;
    z-index: 1;
    text-align: justify;
}
