html, body {
    margin:0;
    padding:0;
    font-family: "Lucida Grande", Verdana;
    font-size: 0.9em;
    text-align: center;
    background-color:#F2F2F2;
}

a {
    color:#23A4FF;
}

div#viz-body {
	overflow-x: auto;
	overflow-y: auto;
}