body {
  text-align: left;
}

#history-content {
  z-index: 0;
}

#history-title {
  position: absolute;
  width: 10em;
  font-size: 1.5em;
  top: 2em;
  left: 2em;
}

#history-item-list {
  position: absolute;
  width: 45em;
  border: 1px solid;
  top: 6em;
  left: 3em;
  overflow: hidden;
}

.history-item {
  cursor: pointer;
  display: block;
  padding: 0.3em;
  font-size: 1em;
}

.history-item:hover {
  background: #54C54C;
  color: white;
}

.clear-item {
  background: #FF7D7D;
  border-style: none;
  width: 90px;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  left: 125px;
}

.button {
  position: absolute;
  border-style: none;
  width: 6.5em;
  text-align: center;
  cursor: pointer;
}

.button-yes {
  display: none;
  float: left;
  width: 3.5em;
  border-radius: 0.2em;  
  cursor: pointer;
}

.button-no {
  display: none;
  float: left;
  width: 3.5em;
  border-radius: 0.2em;
  cursor: pointer;
}

.button-yes:hover, .button-no:hover {
  background: white;
  font-weight: bold;
}

#clear-all {
  color: black;
  background: white;
  position: absolute;
  top: 3em;
  left: 41.5em;
  padding: 0.2em;
  width: 7em;
  border-radius: 0.2em;
  z-index: 3;
}

#clear-all:hover {
  background: pink;
}

#clear-current {
  top: 49px;
  background: #FF7D7D;
}

#clear-current-confirm {
  top: 49px;
  left: 120px;
  background: #F2F266;
  cursor: default;
}

#current-yes {
  top: 24px;
  left: 0px;
}

#current-no {
  top: 24px;
  left: 65px;
}

#back {
  top: 98px;
  background: #9EE080;
}

img.all {
  height: 0.8em;
  padding-left: 0.5em;
}

img.list {
  height: 1em;
  padding: 0.1em;
  border-radius: 1em;
  background-color: white;
  float: right;
}
