body {
	text-align: left;
}

#history-panel {
	position: absolute;
	top: 10px;
	left: 225px;
	width: 110px;
	height: 100px;
	z-index: 2;
}

#history-content {
	padding-left: 30px;
	padding-top: 140px;
}

.history-item {
	border-radius: 10px;
	padding-top: 10px;
}

.load-button {
	background: #63AFFF;
	border-style: none;
	width: 90px;
	padding: 3px;
	border-radius: 10px;
	text-align: center;
}

.button {
	position: absolute;
	border-style: none;
	width: 120px;
	padding: 3px;
	border-radius: 10px;
	text-align: center;
}

.button-yes {
	position: absolute;
	border-style: none;
	width: 55px;
	padding: 3px;
	border-radius: 10px;
	text-align: center;
	background: #FF7D7D;
}

.button-no {
	position: absolute;
	border-style: none;
	width: 55px;
	padding: 3px;
	border-radius: 10px;
	text-align: center;
	background: #9EE080;
}

#clear-all {
	top: 0px;
	background: #FF7D7D;
}

#clear-all-confirm {
	top: 0px;
	left: 120px;
	background: #F2F266;
}

#all-yes {
	top: 24px;
	left: 0px;
}

#all-no {
	top: 24px;
	left: 65px;
}

#clear-current {
	top: 49px;
	background: #FF7D7D;
}

#clear-current-confirm {
	top: 49px;
	left: 120px;
	background: #F2F266;
}

#current-yes {
	top: 24px;
	left: 0px;
}

#current-no {
	top: 24px;
	left: 65px;
}

#back {
	top: 98px;
	background: #9EE080;
}
