ul {
	list-style-type:none;
	margin: 0;
	padding: 10;
}

div#nav-title {
	color: #23A4FF;
	padding: 10;
	text-align: center;
	font-size: 18;
}

div#viz-picker {
	background-color: black;
	color: #23A4FF;
	float: left;
	width: 120px;
	height: 100%;
	text-align: left;
}