ul {
	list-style-type:none;
	margin: 0;
	padding: 10;
}

div#nav-title {
	color: #23A4FF;
	padding: 10;
	text-align: center;
	font-size: 18;
}

div#viz-picker {
	background-color: black;
	color: #23A4FF;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 2;
	width: 140px;
	height: 100px;
	text-align: left;
	padding-left: 5px;
}