.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node {
	font: 10px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.h2 {
	font-size: 14pt;
}

#null-message {
	position: absolute;
	width: 500px;
	top: 160px;
	left: 30px;
	z-index: 1;
	text-align: justify;
}
