.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.label {
  font-size: 0.6em;
  text-align: center;
  word-wrap: normal;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

a.node:link, a.node:visited {
  text-decoration: none;
}
