// Color Palette

// Greyscale
@white: #FFFFFF;
@black: #000000;
@lighter-grey: #F1F1F1;
@light-grey: #ABABAB;
@dark-grey: #707070;

// Greens
@lighter-green: #ECF8EC;
@light-green: #4FAD38;
@dark-green: #2C601F;

// Reds
@lighter-red: #FF8080;
@light-red: #FF1A1A;
@dark-red: #CC0000;