<div class="body-content">
  <table class="history-table">
    <tr class="table-header">
      <th>Date</th>
      <th>Root Node</th>
      <th>Pages</th>
    </tr>
    {{#each collection}}
    <tr class="table-row" sessionId="{{id}}">
      <td>{{#parseDate}}{{id}}{{/parseDate}}</td>
      <td>{{tree.name}}</td>
      <td>{{tree.lastNodeIndex}}</td>
    </tr>
    {{/each}}
  </table>
</div>
