<div class="body-content">
  <table class="history-table">
    <tr class="table-header">
      <th><i class="fa fa-calendar"></i> Date</th>
      <th><i class="fa fa-anchor"></i> Root Node</th>
      <th><i class="fa fa-code-fork"></i> Pages</th>
    </tr>
    {{#each collection}}
    <tr class="table-row" sessionId="{{id}}">
      <td>{{#parseDate}}{{id}}{{/parseDate}}</td>
      <td>{{tree.name}}</td>
      <td>{{tree.lastNodeIndex}}</td>
    </tr>
    {{/each}}
  </table>
</div>
