<div class="history-actions">
  <button type="button" class="green-button" id="back-to-history">Back to History</button>
  <button type="button" class="green-button" id="export-to-svg">Export SVG</button>
  <button type="button" class="green-button" id="export-to-png">Export PNG</button>
</div>
<div id="viz"></div>
