<div class="body-content">
  <div class="history-controls">
    <input type="text" id="history-search" placeholder="Search..." {{#if searchTerm}}value="{{searchTerm}}"{{/if}}>
    <button type="button" class="red-button" id="clear-history">Delete Selected</button>
  </div>

  <div id="history-table-container"></div>
</div>