<ul class="nav-header">
  <li id="nav-title" class="{{nav.title}}">
    <span title="WikiMapper Home">
      <img id="nav-icon" src="resources/wikimapper-38.png"> WikiMapper
    </span>
  </li>
  <li id="nav-latest" class="{{nav.latest}}">
    <span title="View the Latest WikiMapper Graph">
      <i class="fa fa-newspaper-o"></i> Latest
    </span>
  </li>
  <li id="nav-history" class="{{nav.history}}">
    <span title="View the WikiMapper History">
      <i class="fa fa-history"></i> History
    </span>
  </li>
</ul>
