<ul class="nav-header">
  <li id="nav-title" class="{{nav.title}}"><img src="resources/wikimapper-16.png"> {{title}}</li>
  <li id="nav-current" class="{{nav.current}}"><i class="fa fa-newspaper-o"></i> Current</li>
  <li id="nav-history" class="{{nav.history}}"><i class="fa fa-history"></i> History</li>
</ul>
