<ul class="nav-header">
  <li id="nav-title" class="{{nav.title}}">{{title}}</li>
  <li id="nav-current" class="{{nav.current}}">Current</li>
  <li id="nav-history" class="{{nav.history}}">History</li>
</ul>
