<div class="body-content intro-text">
  <img src="resources/wikimapper-banner-small.png">
  <p>
    The WikiMapper Chrome extension passively tracks the paths you take when reading and clicking links on Wikipedia. If you're like me, you often find that you start reading about one topic but find yourself still on Wikipedia 45 minutes later with dozens of tabs open and no idea how you ended up reading about the <a href="https://en.wikipedia.org/wiki/1991_population_census_in_Bosnia_and_Herzegovina" target="_blank">1991 Population Census in Bosnia and Herzegovina</a>. With WikiMapper you can see exactly how you got there!
  </p>
  <p>
    With WikiMapper installed, you don't have to do anything special to use it. Just browse on <a href="http://www.wikipedia.org">Wikipedia</a> like you normally would. Whenever you want to look at the maps of your browsing, click on the <img src="resources/wikimapper-16.png"> icon in your Chrome toolbar to open the app. WikiMapper will default to showing your most recent session, if one exists, but you can always view and manage your history as well.
  </p>
  <div class="spacer-75"></div>
  <h3>About</h3>
  <p>
    <a href="https://github.com/ptmccarthy/wikimapper" target="_blank">WikiMapper</a> is created and maintained by <a href="https://github.com/ptmccarthy" target="_blank">Patrick McCarthy</a> and is free and open source.
  </p>
  <p>
    This software does not collect any personal information, serve any ads, nor does it transmit any data of any kind to anyone.
  </p>
  <p>
    <div class="copyright-notice">Copyright &copy; 2013-2025 Patrick McCarthy</div>
  </p>
</div>
